input[type=text], input[type=password]{
    border: none;
    border-radius: 20px;
    height: 36px;
    width: 270px;
    font-size: 13pt;
    margin-bottom: 10%;
}

input[type=submit]{
    border:none;
    color: black;
    background-color: azure;
    padding:5px;
    cursor: pointer;
    margin-top: 3px;
    width: 80px;
    height: 35px;
    margin-bottom: 10%;
}